.root {
  margin-top: 24px;
}

.select {
  width: 400px;
}

.action-buttons {
  width: 100%;
  justify-content: flex-end;
}

.filters {
  margin-bottom: 20px;
}

.above-incidents-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bulk-actions {
  margin: 10px 0 10px 0;
}

.other-users {
  color: var(--secondary-text-color);
}

.silence-button-inline {
  font-size: 12px;
  height: 24px;
  margin-right: 0;
}

.incidents-table-loading {
  width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-row {
  width: 100%;
  animation: loading 1.5s infinite;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;

  /* background: linear-gradient(to right, var(--primary-background) 8%, var(--secondary-background) 18%); */
  background:
    linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#eee, #eee),
    radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
    linear-gradient(#eee, #eee);
  height: 30px;
}

.static-empty-row {
  background-color: var(--secondary-background);
}

.loading-row-state {
  opacity: 40%;
  width: 100%;
}
